.m-headerbg-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/english.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-spanish{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/spanish.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-french{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/french.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-german{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/german.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-arabic{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/arabic.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-russian{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/russian.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-chinese{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/chinese.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-portuguese{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/portuguese.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-italian{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/italian.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-japanese{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/japanese.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-korean{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/korean.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-swahili{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/swahili.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-kinyarwanda{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/kinyarwanda.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-onenglish{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/onenglish.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-onspanish{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/onspanish.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-onfrench{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/onfrench.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-ongerman{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/ongerman.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-onkorean{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/onkorean.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-onitalian{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/onitalian.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-onportuguese{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/onportuguese.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-live-online-courses{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/liveonlinecourses.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-headerbg-kids{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/kids.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.m-callToAction-pages{
    font-family: "Nunito Sans";
    font-weight: bold;
    background-color: none;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.scroll{
    display: block;
    width: 85px;
    position: absolute;
    bottom: 0;
}
.main-content{
    background-color: none;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15%;
    margin-right: 15%;
}
.main-content-txt{
    font-family: "Nunito Sans";
    font-size: 18px;
}
.start-now{
    background-color: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 50px;
    border-radius: 20px;
}
.contuct-us{
    color: rgba(0, 0, 0, 0.747);
    font-size: 15px;
    font-weight: 500;
}
.contuct-us:hover{
    color: black;
}
.teensimg{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 15px;
}
@media screen and (max-width: 866px){
    .m-headerbg-pages{
        height: 60vh;
    }
    .m-headerbg-spanish{
        height: 60vh;
    }
    .m-headerbg-french{
        height: 60vh;
    }
    .m-headerbg-german{
        height: 60vh;
    }
    .m-headerbg-arabic{
        height: 60vh;
    }
    .m-headerbg-russian{
        height: 60vh;
    }
    .m-headerbg-chinese{
        height: 60vh;
    }
    .m-headerbg-portuguese{
        height: 60vh;
    }
    .m-headerbg-italian{
        height: 60vh;
    }
    .m-headerbg-japanese{
        height: 60vh;
    }
    .m-headerbg-korean{
        height: 60vh;
    }
    .m-headerbg-swahili{
        height: 60vh;
    }
    .m-headerbg-kinyarwanda{
        height: 60vh;
    }
    .m-headerbg-onenglish{
        height: 60vh;
    }
    .m-headerbg-onspanish{
        height: 60vh;
    }
    .m-headerbg-onfrench{
        height: 60vh;
    }
    .m-headerbg-ongerman{
        height: 60vh;
    }
    .m-headerbg-onkorean{
        height: 60vh;
    }
    .m-headerbg-onitalian{
        height: 60vh;
    }
    .m-headerbg-onportuguese{
        height: 60vh;
    }
    .m-headerbg-live-online-courses{
        height: 60vh;
    }
    .m-headerbg-kids{
        height: 60vh;
    }
    .m-callToAction-pages{
        font-family: "Nunito Sans";
        font-weight: bold;
        background-color: none;
        color: rgb(255, 255, 255);
        font-size: 35px;
    } 
    .scroll{
        display: none
    }
}