.m-headerbg{
    display: none;
}
.m-whoarewediv{
    display: none;
}
@media screen and (max-width: 1324px) {
    .headerMockup{
        width: 400px;
        margin-top: 2rem;
    }
    .callToAction{
        padding-top: 12rem;
    }
}
@media screen and (max-width: 1248px) {
    .hide{
        display: none;
    }
    .hidden{
        display: block;
    }
    .leftSideHeader{
        width: 550px;
    }
}
@media screen and (max-width: 1140){
    .headerMockup{
        margin-left: 5rem;
    }
}
@media screen and (max-width: 1116px){
    .callToAction{
        font-size: 2rem;
        padding-top: 8rem;
    }
    .headerMockup{
        width: 300px;
    }
}
@media screen and (max-width: 1086px){
    .headerMockup{
        margin-left: 69px;
    }
}
@media screen and (max-width: 910px){
    .headerMockup{
        width: 250px;
    }
    .callToAction{
        font-size: 2rem;
        padding-top: 7rem;
    }
}
@media screen and (max-width: 861px){
    .headerMockup{
        width: 180px;
    }
    .callToAction{
        padding-top: 5.5rem;
    }
    .headerbg{
        padding-top: 2rem;
    }
    .achievements-div{
        padding-left: 56px;
        padding-right: 56px;
    }
}
@media screen and (max-width: 861px){
    .whoarewediv{
        padding-top: 36px;
        padding-bottom: 59px;
        padding-left: 88px;
        padding-right: 88px;
        font-size: 17px;
    }
}
@media screen and (max-width: 790px){
    .headerbg{
        display: none;
    }
    .m-headerbg{
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom,#150227, rgba(88, 49, 167, 0.26)),url("../img/headers/m-index.jpg")/*url("../img/girl/dei-r-2VZ9N4bYCgs-unsplash (4).jpg")*/;
        background-repeat: no-repeat;
        background-size: cover;
        height: 69vh;
    }
    .m-callToAction{
        font-family: "Nunito Sans";
        font-weight: bold;
        background-color: none;
        color: rgb(255, 255, 255);
        font-size: 50px;
        padding-left: 3rem;
        padding-right: 3rem;

    }
}
@media screen and (max-width: 760px){
    nav ul li{
        display: none;
    }
    .hidden{
        display: none;
    }
    .loginBtn{
        display: none;
    }
    .menu{
        display: block;
    }
    .leftSideHeader{
        width: 69px;
    }
}
@media screen and (max-width: 696px){
    .whoarewediv {
        padding-top: 36px;
        padding-bottom: 54px;
        padding-left: 56px;
        padding-right: 56px;
        font-size: 17px;
}
@media screen and (max-width: 641px){
    .m-callToAction{
        font-size: 36px;
    }
}
@media screen and (max-width: 615px){
    
}
@media screen and (max-width: 591px){
    .achievements-div{
        display: none;
    }
    .achievements-div2{
        display: flex;
        padding-left: 116px;
        padding-right: 116px;
    }
    .achievments-icons2{
        width: 66px;
    }
}
@media screen and (max-width: 524px){
    .achievements-div2{
        padding-left: 99px;
        padding-right: 99px;
    }
}
@media screen and (max-width: 491px){
    .achievements-div2{
        padding-left: 73px;
        padding-right: 73px;
    }
}
@media screen and (max-width: 493px){
    .m-callToAction{
        font-size: 27px;
    }
} 
@media screen and (max-width: 488px){
    .whoarewediv{
        display: none;
    }
    .m-whoarewediv{
        display: block;
        border-style: dashed;
        border-color: rgba(0, 0, 0, 0.521);
        border-width: 2px;
        /*box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;*/
        border-radius: 17px; /*the 17 is cause thats how old i curently am*/
        padding-top: 36px;
        padding-bottom: 54px;
        padding-left: 56px;
        padding-right: 56px;
        font-size: 17px;
        font-weight: 300;
        margin-left: 11%;
        margin-right: 11%;
    }
}
@media screen and (max-width: 458px){
    .achievements-div2{
        padding-left: 54px;
        padding-right: 54px;
    }
    .achievments-icons2{
        width: 46px;
    }
}
@media screen and (max-width: 437px){
    .whyuscontent{
        font-size: 12px;
    }
}
@media screen and (max-width: 416px){
    .whoarewediv {

        padding-top: 36px;
        padding-bottom: 54px;
        padding-left: 41px;
        padding-right: 36px;
        font-size: 16px;
    }
}
@media screen and (max-width: 411px){
    .headerbg{
        padding-top: 1rem;
    }
}
@media screen and (max-width: 293px){
    .headerbg{
        padding-top: 2rem;
    }
}}